<div class="container-fluid">
  <h2>Registration Form</h2>
  {{registrationForm.value| json}}

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="">Username</label>
      <input [class.is-invalid]="userName?.invalid &&
                                userName?.touched" formControlName="username" type="text" class="form-control">
      <div *ngIf="userName?.invalid && userName?.touched">
        <small class="text-danger" *ngIf="userName?.errors?.['required']">Username is required</small>
        <small class="text-danger" *ngIf="userName?.errors?.['minlength']">Username must be atleast 3 character</small>
        <small class="text-danger"
          *ngIf="userName?.errors?.['forbiddenName']">{{userName?.errors?.['forbiddenName'].value}} Username not allowed
          !</small>
      </div>

    </div>

    <div class="form-group">
      <label for="">Email</label>
      <button type="button" class="btn btn-sm btn-secondary" (click)="addAlternateEmails()">Add Email</button>
      <input [class.is-invalid]="email?.invalid &&
      email?.touched" formControlName="email" type="email" class="form-control">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched"> Email is required !</small>
      <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
        <input type="text" [formControlName]="i" class="form-control my-1">
      </div>
    </div>

    <div class="form-group">
      <input formControlName="subscribe" type="checkbox" class="form-check-input">
      <label class="form-check-label">Send me promotional offers</label>
    </div>

    <div class="form-group">
      <label for="">Password</label>
      <input formControlName="password" type="password" class="form-control">
    </div>

    <div class="form-group">
      <label for="">Confirm Password</label>
      <input [class.is-invalid]="registrationForm.errors?.['misMatch']" formControlName="confirmPassword"
        type="password" class="form-control">
      <small class="text-danger" *ngIf="registrationForm.errors?.['misMatch']"> Password do not match</small>
    </div>

    <div formGroupName="address">
      <div class="form-group">
        <label>City</label>
        <input formControlName="city" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label>State</label>
        <input formControlName="state" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label>Postal Code</label>
        <input formControlName="postalCode" type="text" class="form-control">
      </div>

    </div>

    <button [disabled]="!registrationForm.valid" class="btn btn-primary mt-3" type="submit">Register</button>
    <button (click)="loadAPI()" class="btn btn-secondary ml-2" type="button"> Load Api Data</button>
  </form>
</div>